
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
    margin: 0;
    padding: 0;
}

html{
  font-size: 14px
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

$theme: #ffe9d9;
$theme-font:#080808;
$theme-y-color:#ffb646;

/* - animation section start - */
.name-bgAnimation{
display:flex;
flex-flow:wrap;
justify-content:center;
align-items:center;
    height: 68%;
    width: 58%;
    position: absolute;
    padding: 0;
    z-index: 2;
    opacity: 0.5;
}
.anim-child, .anim-child1, .anim-child2, .anim-child3 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  margin:auto auto;
  border-radius:30px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  font-size:34px;
  color:#FFF;
  z-index:-1;
}
.anim-child:hover, .anim-child1:hover, .anim-child2:hover, .anim-child3:hover{
cursor:pointer;
animation:none;
transition-delay:5s;
}

.anim-child1{
animation-name: round1;
}

.anim-child2{
animation-name: round2;
}

.anim-child3{
animation-name: round3;
}

@keyframes example {
  0%   {background-color:brown; left:0px; top:0px;}
  25%  {background-color:$theme-y-color; left:50px; top:0px;}
  50%  {background-color:brown; left:50px; top:100px;width:50px; height:50px;}
  75%  {background-color:$theme-y-color; left:0px; top:50px;}
  100% {background-color:brown; left:0px; top:0px;}
}

@keyframes round1 {
  0%   {background-color:$theme-y-color; right:0px; bottom:0px;}
  25%  {background-color:brown; right:100px; bottom:0px;}
  50%  {background-color:$theme-y-color; right:100px; bottom:100px;width:50px; height:50px;}
  75%  {background-color:brown; right:0px; bottom:100px;}
  100% {background-color:$theme-y-color; right:0px; bottom:0px;}
}

@keyframes round2 {
  0%   {background-color:brown; right:0px; top:0px;}
  25%  {background-color:$theme-y-color; right:50px; top:0px;}
  50%  {background-color:brown; right:50px; top:100px;width:50px; height:50px;}
  75%  {background-color:$theme-y-color; right:0px; top:50px;}
  100% {background-color:brown; right:0px; top:0px;}
}

@keyframes round3 {
  0%   {background-color:$theme-y-color; left:0px; bottom:0px;}
  25%  {background-color:brown; left:50px; bpttom:0px;}
  50%  {background-color:$theme-y-color; left:-100px; bottom:50px; width:50px; height:50px;}
  75%  {background-color:brown; left:0px; bottom:50px;}
  100% {background-color:$theme-y-color; left:0px; bottom:0px;}
}
/* - animation section start - */

.pos-rel{
position: relative;
}

header{
  position: absolute;
  top:0;
  width: calc(100% - 15px);
  z-index: 2;
  background: none;
  .navbar{
    .navbar-toggler{
      &:focus{
        box-shadow: none;
        &:not(:focus-visible){
          box-shadow: none;
        }
      }
    }
  }
}

.content-conatiner{
  background: $theme;
  padding-top: 140px;
  padding-bottom:125px;
  position: relative;
  overflow: hidden;
}

.hello-me{
  padding-top: 3rem;
  position: relative;
  z-index: 1;

  .into-wel{
    font-size: 2rem;
    color:$theme-font;
    position: relative;
    padding-left: 85px;

    &::before{
      position: absolute;
      left: 0;
      width: 65px;
      right: 0;
      content: "";
      background: $theme-font;
      height: 2px;
      top: 50%;
    }
  }

   > h1, > h2{
    font-size: 8.75rem;
    line-height: 6.875rem;
    color: $theme-font;
   }

   > h1{
    position: relative;
    z-index: 0;
    margin-bottom: 3.125rem;
    margin-top: 0.938rem;

    &::before{
      position: absolute;
      content: " ";
      width: 7.5rem;
      height: 7.188rem;
      border-radius: 50%;
      left: -20px;
      top: 11px;  
      background: $theme-y-color;
      z-index: -1;
    }
   }

   h2{
    padding-bottom: 10px;
   }

   > p{
    font-size: 1.5rem;
    color: rgba($color: $theme-font, $alpha: 0.7);
    margin-bottom: 1.25rem;
   }
}

.say-hi{
    display: block;
    padding-top: 3.125rem;

    .say-hiBtn, .res-down{
      border-radius: 4px;
      width: 9.375rem;
      padding: 1rem 1.75rem;
      font-weight: 500;
      border: 1px solid rgba($color: $theme-font, $alpha: 0.7);
      cursor: pointer;
      margin-right: 1.25rem;

      
    }

    .say-hiBtn{
      color: #FFF;
      background: rgba($color: $theme-font, $alpha: 0.7);

      > a{
        color: #FFF;
        box-shadow: none;
        outline: none;
        border: none;

        > i{
          transform: rotate(35deg);
          margin-left: 10px;
          transform: rotate(35deg) translate(0px, 0px);
      }

        &:hover, &:focus, &:active{
          box-shadow: none;
          outline: none;
          border: none;
        }
      }

      &:hover{
        color: rgba($color: $theme-font, $alpha: 0.7);
        background: none;
        border: 1px solid rgba($color: $theme-font, $alpha: 0.7);
        
        > a{
          color: rgba($color: $theme-font, $alpha: 0.7);

          i{
            animation-name: fly;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-delay: 0.8s;
            animation-iteration-count: infinite;
          }

          &:hover, &:focus, &:active{
            box-shadow: none;
            outline: none;
            border: none;
          }
        }
      }
    }

    .res-down{
      color: $theme-font;
      background: none;

      > a{
        color: $theme-font;
        box-shadow: none;
        outline: none;
        border: none;
 

        > i{
            transform: rotate(35deg);
            margin-left: 10px;
            transform: rotate(35deg) translate(0px, 0px);
        }

        &:hover, &:focus, &:active{
          box-shadow: none;
          outline: none;
          border: none;
        }
      }

      &:hover{
        color: #FFF;
        background: rgba($color: $theme-font, $alpha: 0.7);
        border: 1px solid rgba($color: $theme-font, $alpha: 0.7);
        

        > a{
          color: #FFF;

          i{
            animation-name: fly;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-delay: 0.7s;
            animation-iteration-count: infinite;
          }


          &:hover, &:focus, &:active{
            box-shadow: none;
            outline: none;
            border: none;
          }
        }
      }
    }
}

@keyframes fly {
  0%{
    transform: rotate(45deg) translate(0px, 20px);
    opacity: 0;
  }
  25%{
    transform: rotate(45deg) translate(0px, 6px);
    opacity: 0.5;
  }
  50%{
    transform: rotate(45deg) translate(0px, 0px);
    opacity: 1;
  }
  75%{
    transform: rotate(45deg) translate(0px, -6px);
    opacity: 0.5;
  }
  100%{
    transform: rotate(45deg) translate(0px, -20px);
    opacity: 0;
  }
}

.My-pic{
  position: absolute;
    background: $theme-y-color;
    border-radius: 50px;
    padding: 50px;
    transform: rotate(-56deg) translate(300px, -19px) scale(1.2);
    width: 100%;
    right: -98px;
    top: 108px;

  > img{
    width: calc(100% - 174px);
    transform: rotate(56deg) translate(10px, 52px);
    position: relative;
    top: 35px;
    right: 0;
    border-bottom-left-radius: 74px;
    border-bottom-right-radius: 139px;
    border-top-left-radius: 40px;
    box-shadow: 5px 3px 7px rgba(169, 41, 41, 0.4);
  }
  
}

.social-media{
  padding: 40px 0 0;
  > a{
    margin-right: 20px;

    i{
      font-size: 32px;
      color: $theme-font;
    }
    
    &:hover{

      i.fa-whatsapp{
        color: #1ab147;
      }
      i.fa-linkedin{
        color: #0074b2;
      }
      i.fa-facebook{
        color: #3b579d;
      }
    }
  }
}


/* - Responsive - */
@import "responsive.scss";

